
p,
ul {
    border: 10px solid green;
    padding: 0.5em;
}

.block,
li {
    /* box-sizing: border-box; */
    width: 50px;
    height: 25px;
    border: 2px solid red;
    padding: 0.5em;
}




ul {
    display: flex;    /*  display : flex will make the list elements next to each others*/
   
    list-style: none;
}

.block {
    display: block;
}