/* ===================== Borders ===================== */
div {
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    margin-bottom: 200px;

  }


/*  =================== Border Radius ===================  */

span {
    background-color: cadetblue;
    font-size: 60px;
    padding: 40px;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: 200px;
    margin-left: 8%;

    /* border-radius */
    border-radius: 40px;
    border-radius:  50% 15%;
    border-radius: 10% 30% 50% 70%;
    border-radius: 10% / 50%;
    border-radius: 10px 100px / 120px;
    border-radius: 50% 20% / 10% 40%;

    /* Radius is set for all 4 sides */
    border-radius: 10px;

    /* top-left-and-bottom-right | top-right-and-bottom-left */
    border-radius: 10px 5%;


    border-radius: 1em/5em;

    /* It is equivalent to: */
    border-top-left-radius: 1em 5em;
    border-top-right-radius: 1em 5em;
    border-bottom-right-radius: 1em 5em;
    border-bottom-left-radius: 1em 5em;


}