div {
    background-color: aliceblue;
    border: 2px dotted blue;
    margin: 40px;
    padding: 20px;
    font-size: 30px;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    
    overflow: visible;      /* The text that exceeds the size of the box is displayed out of the box */
            /* Content is not clipped and may be rendered outside the padding box.*/

    overflow: hidden;       /* Only displayed the text inside the box, other text is not displayed */
            /*
                Content is clipped if necessary to fit the padding box. No scrollbars are provided, 
                and no support for allowing the user to scroll (such as by dragging or using a scroll wheel) is allowed. 
                The content can be scrolled programmatically (for example, by setting the value of a property 
                such as scrollLeft or the scrollTo() method), so the element is still a scroll container.
            */

    overflow: clip;
            /*
                Similar to hidden, the content is clipped to the element's padding box. The difference between clip and hidden is that 
                the clip keyword also forbids all scrolling, including programmatic scrolling. The box is not a scroll container, 
                and does not start a new formatting context. If you wish to start a new formatting context, you can use display: flow-root to do so.
            */


    overflow: scroll;         /* any text more than the box size will be displayed inside the box when scrollingg down */
            /*
                Content is clipped if necessary to fit the padding box. Browsers always display scrollbars 
                whether or not any content is actually clipped, preventing scrollbars from appearing or disappearing 
                as content changes. Printers may still print overflowing content.
            */

    overflow: auto;
            /*
                Depends on the user agent. If content fits inside the padding box, it looks the same as visible, 
                but still establishes a new block formatting context. Desktop browsers provide scrollbars if content overflows.
            */


   

}